@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  background: url(../images/bg-pattern-top.svg) no-repeat -10vw -30vw,
    url(../images/bg-pattern-bottom.svg) no-repeat 60vw 60vh, hsl(185, 75%, 39%);
  background-size: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(229, 23%, 23%);
}

.card {
  width: 90%;
  max-width: 350px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 13px 16.3px rgba(0, 0, 0, 0.027),
    0 21.9px 23.2px rgba(0, 0, 0, 0.037), 0 37.6px 29.1px rgba(0, 0, 0, 0.045),
    0 100px 38px rgba(0, 0, 0, 0.05);

  &__bg {
    min-height: 7em;
    background: url(../images/bg-pattern-card.svg) no-repeat;
    background-size: cover;
    position: relative;
  }

  &__avatar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, +50%);
    z-index: 1;
    border: 6px solid white;
    border-radius: 50%;
  }

  &__name {
    margin-top: 0.8em;
  }

  &__age {
    display: inline-block;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    padding-left: 0.2em;
  }

  &__content {
    padding: 4.25em 0 1.5em;
    background-color: white;
    text-align: center;
    position: relative;
  }

  &__location {
    color: hsl(227, 10%, 46%);
  }

  &__hr {
    border-width: 1px;
    background-color: hsl(0, 0%, 59%);
    opacity: 0.3;
  }

  &__statistics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  &__stat {
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: hsl(0, 0%, 59%);
  }

  &__counter {
    color: hsl(229, 23%, 23%);
    margin: 0 0 0.25em;
    font-weight: 700;
    font-size: 1.3rem;
    letter-spacing: 0;
  }
}
